.cards-list {
  margin: 20px; /* Ajusta el margen según sea necesario */
  display: flex;
  flex-wrap: nowrap; /* Hace que las cartas no se envuelvan a la siguiente línea */
  overflow-x: auto; /* Permite desplazamiento horizontal en dispositivos pequeños */
  gap: 20px; /* Espaciado entre las cartas */
}

@media screen and (max-width: 600px) {
  .cards-list {
    flex-wrap: wrap; /* Cambia a envoltura en pantallas más pequeñas */
    justify-content: center; /* Centra las cartas en pantallas más pequeñas */
    overflow-x: hidden; /* Evita el desplazamiento horizontal en dispositivos pequeños */
  }

/* Additional Styles for better responsiveness */


  
}